<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <nav>
        <a href="{% url "registro" %}">Registro de productos</a>
        <a href="{% url "listado" %}">Listado de productos</a>

    </nav>
    <h1>Bienvenido a mi pagina de la Pre Entrega N° 3 del Curso de Python!</h1>
    <h2>Mi pagina es de registro de productos en un comercio.</h2>
    <p>Mateo Martin Tomas Insaurralde.</p>
</body>
</html>